.App {
text-align: center;
background-image: url(https://preview.ibb.co/dtjJ0K/background.jpg);
background-position: center;
background-size: cover;
position: fixed;
width: 100%;
height: 135%;
overflow: hidden;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.parent {
  color: blue;

  .child {
    color: pink;
  }
}
body{
  height: 100%;
}
